#messageList .list-cell:even {
    -fx-background-color:  #2D3142;
    -fx-text-fill: white;
    -fx-wrap-text: true;
}
#messageList .list-cell:odd {
    -fx-background-color:  #2D3142;
    -fx-text-fill: white;
    -fx-wrap-text: true;
}

#contactList .list-cell:even {
    -fx-background-color:  #2D3142;
    -fx-text-fill: white;
}
#contactList .list-cell:odd {
    -fx-background-color:  #2D3142;
    -fx-text-fill: white;
}

#contactList:focused .list-cell:even:focused{
    -fx-background-color: dimgrey;
}

#contactList:focused .list-cell:odd:focused{
    -fx-background-color: dimgrey;
}